
# Python environment settings
PYTHONPATH = src
VIRTUAL_ENV = .venv

DOMO_CHILD_INSTANCE = ""
DOMO_CHILD_ACCESS_TOKEN = ""

DOMO_PARENT_INSTANCE = ""
DOMO_PARENT_ACCESS_TOKEN = """
PARENT_DATASET = ""
PARENT_CARD = ""

CHILD_DATASET_ID = ""
CHILD_CARD_ID = ""
